body {
	font-family: 'Source Sans pro', sans-serif;
}

.container p, .container li {
	font-size: 13pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Alegreya', Trebuchet, "Trebuchet MS", serif;
}

.issue-box {
	min-height: 12em;	
	border-left: solid 18pt #c13f35;
	margin-bottom: 18pt;
}

.container .jumbotron {
	background: white;
	padding-left: 0pt;
	margin-left: -15px;
}

.container .jumbotron h1 {
	font-weight: bold;	
}